
@{
    ViewBag.Title = "DanhMucSach";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<ul class="breadcrumb">
    <li>
        <i class="icon-home"></i>
        <a href="index.html">Danh Mục Sách</a>
        <i class="icon-angle-right"></i>
    </li>

</ul>
<h2>Danh Mục Sách</h2>


<p>Chi Tiết Danh Mục Sách</p>
<div class="icons">
    <a href="/Admin/DanhMucSach"><i class="halflings-icon home"></i>Chi Tiết</a>
</div>
