
@{
    ViewBag.Title = "DoanhThu";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}


<ul class="breadcrumb">
    <li>
        <i class="icon-home"></i>
        <a href="index.html">Doanh Thu</a>
        <i class="icon-angle-right"></i>
    </li>

</ul>



<h2>Doanh Thu</h2>

