
@{
    ViewBag.Title = "KhuyenMai";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}


<ul class="breadcrumb">
    <li>
        <i class="icon-home"></i>
        <a href="index.html">Khuyến Mại</a>
        <i class="icon-angle-right"></i>
    </li>

</ul>



<h2>Khuyến Mại</h2>

<p>Chi Tiết Khuyến Mại</p>

<div class="icons">
    <a href="/Admin/KhuyenMai"><i class="halflings-icon home"></i>Chi Tiết</a>
</div>
