
@{
    ViewBag.Title = "NhanVien";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}


<ul class="breadcrumb">
    <li>
        <i class="icon-home"></i>
        <a href="index.html">Nhân viên</a>
        <i class="icon-angle-right"></i>
    </li>

</ul>



<h2>Nhân viên</h2>

