
@{
    ViewBag.Title = "NhaXuatBan";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}



<ul class="breadcrumb">
    <li>
        <i class="icon-home"></i>
        <a href="index.html">Nhà xuất bản</a>
        <i class="icon-angle-right"></i>
    </li>

</ul>



<h2>Nhà Xuất Bản</h2>

