
@{
    Layout = null;
}
@{ 
    Html.RenderPartial("_Header");
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>LoginRequire</title>
</head>
<body>
    <div> 
        Bạn cần đăng nhập 
    </div>
</body>
</html>
