
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Doanh Thu Hàng Tháng - Năm</h2>
<br />



<a href="/Admin/Home"><i class="halflings-icon home"></i>Trở Lại</a>

